html{
  background: #181a1b;
  color: #fff;
  font-family: 'Arial', sans-serif;
  line-height: 16px;
  font-size: 16px;
}

html, body{
  padding: 0;
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
}

#player-bar{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 3em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player-turn-indicator{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 0.75em);
  z-index: 1;
  transition: left ease 0.5s, width ease 0.25s;
}

#game-canvas{
  background-color: #303030;
}

.player-label{
  margin: 0.5em;
  z-index: 2;
  font-weight: bold;
  mix-blend-mode: difference;
}