# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
v3/dist
v3/tmp
v3/out-tsc
# Only exists if Bazel was run
v3/bazel-out

# dependencies
v3/node_modules

# profiling files
v3/chrome-profiler-events*.json
v3/speed-measure-plugin*.json

# IDEs and editors
v3/.idea
v3/.project
v3/.classpath
v3/.c9/
v3/*.launch
v3/.settings/
v3/*.sublime-workspace

# IDE - VSCode
v3/.vscode/*
v3/!.vscode/settings.json
v3/!.vscode/tasks.json
v3/!.vscode/launch.json
v3/!.vscode/extensions.json
v3/.history/*

# misc
v3/.sass-cache
v3/connect.lock
v3/coverage
v3/libpeerconnection.log
v3/npm-debug.log
v3/yarn-error.log
v3/testem.log
v3/typings

# System Files
v3/.DS_Store
v3/Thumbs.db
