.settings-menu{
  min-width: 300px;
  margin: 0;
  padding: 0;
}

.settings-header{
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-label{
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.settings-content{
  padding: 0em 2em 0em 2em;
}

.divider{
  margin: 1em 0 1em 0;
}

.settings-grid-slider-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.settings-grid-slider{
  width: 100%;
}

.difficulty-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.difficulty-radio-button{
  margin: 0.5em 1em 0.5em 0;
}