$toolbarheight: 3em;

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav{
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.sidenav-close-button{
  display: flex;
  padding: 0.5em;
  justify-content: flex-end;
  align-items: center;
}
.app-content{
  width: 100%;
  height: 100%;
  position: relative;
}

.app-toolbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1em;
  height: $toolbarheight;
  margin: 0;
}

.app-route-container{
  position: absolute;
  top: $toolbarheight;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.app-toolbar-contents{
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.app-toolbar-spacer {
  flex: 1 1 auto;
}